body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background: white;
  color: #424242;
}

.title {
  text-align: center;
  font-family: sans-serif;
  margin-top: 50px;
  margin-bottom: -10px;
}

.title h2 {
  margin-bottom: -10px;
}

.title p {
  font-size: 12px;
}

.content {
  text-align: center;
}

.chart {
  margin: 10px auto;
  padding: 0px;
  background-color: white;
}

.chart text {
  fill: #424242;
  font-size: 1em;
  font-family: sans-serif;
}

.chart .axisLabel {
  font-weight: 600;
}

.chart .yAxis path {
  fill: none;
  stroke: none;
}

.chart .yAxis line {
  fill: none;
  stroke: none;
}

.chart .xAxis path {
  fill: none;
  stroke: #424242;
  shape-rendering: crispEdges;
}

.chart .xAxis line {
  fill: none;
  stroke: #424242;
  shape-rendering: crispEdges;
}

.tooltip-custom {
  text-align: center;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 14px;
  padding: 8px;
  width: 130px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.tooltip-custom:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.tooltip-custom.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}
